/* .cart{
    margin: 100px;
}
.cart-items-title{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    color: gray;
    font-weight: 500;
}

.cart-items-item{

    margin: 10px 0px;
    color: #000;
}

.cart-items-item img{
    width: 50px;
}
.cart hr{
    height: 2px;
    background-color: #fff;
    border: none;
}
.cart-items-item .cross{
    cursor: pointer;
}
 .cart-bottom{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: max(12vw, 20px);
} 
     .cart-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;

} 
.cart-total-details{
    display: flex;
    font-size: 20px;
    font-weight: 500;
    justify-content: space-between;
    gap: 20px;
    color: #555;
}
.cart-total hr{
    height: 2px;
 margin: 10px 0px;
}
.cart-total button{
    padding: 10px 0px;
    background-color: #FF5722;
    color: #fff;
    width: max(15vw, 200px);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
/* .cart-total h1{
    font-size: 20px;
    font-weight: 500;
} */
.cart-promocode{
    flex: 1;

}
.cart-promocode p{
color: #555;
font-size: 20px;
    font-weight: 500;
}
.cart-promocode-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
    border-radius: 5px;

}
.cart-promocode-input input{
background: transparent;
    border: none;
    outline: none;
    padding-left: 15px;
    font-size: 20px;
  
}
.cart-promocode-input button{
    width: max(9vw, 150px);
    background-color: #000000;
    color: #fff;
    padding: 12px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
@media (max-width: 768px) {

    .cart-promocode{
        justify-content: start;
    }
    .cart-bottom{
        flex-direction: column-reverse;
    }
   
    
} */