.services{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
gap: 80px;
margin: 80px 170px;
}
.services-title{
position: relative;
}

.services-formate{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 60px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid #fff;
    transition: 0.5;
}

.services-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-bottom: 80px;
}

.services-title h1{
    padding: 0 30px;
    font-size: 89px;
    font-weight: 600;
    
    
}

.services-readmore {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
    /* transition: 0.4s; */
}
.services-readmore:hover{
border-radius: 20px;
  border: 2px solid  #ff4e50;
  transform: scale(1.05);
  transition: 0.4s;
}
.services-readmore img{
    padding: 20px 40px;
    width: 50px;
    height: 50px;
    color: #fff;
    /* background: linear-gradient(267deg, #DA7C25 10%, #B923E1); */
    cursor: pointer;
    transition: 0.5;
}

.services-formate h3{
    font-size: 30px;
    font-weight: 800;
    background: linear-gradient(267deg,  #f36e70 50%,  #f9d423 ); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.services-formate h2{
    font-size: 18px;
    font-weight: 400;
}

.services-formate:hover{
    border-radius: 20px;
      border: 2px solid #af1417;
      background: linear-gradient(267deg,  #af1417 10%,  #6c6750 ); 
      transform: scale(1.05);
      transition: 0.4s;
    }


.services-formate h1{
    font-size: 15px;
    font-weight: 300;

}
.services-formate p{
    color: #d4d4d4;
    font-size: 18px;
    font-size: 22px;
    line-height: 40px;
    max-width: 300px;
}
@media(max-width:768px){
    .services{
        align-items: start;
        gap: 70px;
        margin: 20px 70px;
    }
    .services-title h1{
        padding: 0;
        font-size: 50px;
    }
    .services-formate{
        gap: 20px;
        padding: 32px;

    }
    .services-formate h3{
        font-size: 30px;
    }
    .services-formate h2{
        font-size: 22px;
    }
    .services-formate h1{
        font-size: 15px;
    }
    .services-formate p{
        font-size: 18px;
        line-height: 32px;
        max-width: 330px;
    }
    .services-formate img{
    width: 20px;
    }
    .services-container{
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
}