.login-page{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: black;
    display: grid;
}
.login-page-container{
    place-self: center;
    width: max(20vw, 530px);
    color: #373131;
    background-color: #fff;
    flex-direction: column;
    display: flex;
    gap: 25px;
    padding: 25px 30px;
    font-size: 30px;
    border-radius: 10px;
    animation: fadeIn 0.5s;
}
.login-page-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}
.login-page-title img{
    width: 30px;
    cursor: pointer;
}
.login-page-inputs{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.login-page-inputs input{
    /* outline: none; */
    border: 1px solid white;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
}
.login-page-container button{
    border: none;
    padding: 10px;
    color: wheat;
    background-color: tomato;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}
.login-page-condition{
    display: flex;
    /* justify-content: space-between; */
    gap: 20px;
    margin-top: -20px;
    align-items: start;
    font-size: 19px;
}
.login-page-condition input{
    margin-top: 5px;
}
.login-page p{
    margin-top: 10px;
    font-size: 18px;

}
.login-page p span{
    color: tomato;
    font-weight: 500;
    cursor: pointer;
    font-size: 18px;
}
