/* Sidebar container */
.sidebar {
    width: 18%;
    min-height: 100vh;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
    font-size: 34px;
  }
  
  /* Options wrapper */
  .sidebar-options {
    padding-top: 50px;
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
  
  /* Single option */
  .sidebar-option {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 12px;
    border: 1px solid #a9a9a9;
    border-right: 1;
    border-radius: 3px 0px 0px 3px;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.25s ease, color 0.25s ease;
  }
  
  /* Hover effect */
  .sidebar-option:hover {
    background-color: #f2f2f2;
    color: rgb(254, 70, 37);
  }
  
  /* Icon size */
  .sidebar-option svg {
    font-size: 18px;
  }
  

  .sidebar-option.active{
   border-color: rgb(245, 96, 70);
   background: #f5deda;

  }
  @media(max-width:900px) {
    .sidebar-option p{
        display: none;
    }
  }